<link rel="stylesheet" href="{{'section-product-tab-v4.css' | asset_url}}" media="print" onload="this.media='all'">

{%- liquid
  assign bg_class = ''
  assign limit = section.settings.limit
  assign dots  = section.settings.dots
  assign loop  = section.settings.loop
  assign controls = section.settings.controls
  assign autoplay = section.settings.autoplay
  assign _collection = section.blocks | where: 'type' , 'product' | first 
  assign collection = collections[_collection.settings.collection]
  assign sectionID  = '#section-' | append: section.id
  assign items_resp = section.settings.items_resp
  assign controls_id = '#controls-' | append: section.id
  assign items_spacing = section.settings.items_spacing
  assign alignment_tab_title = section.settings.alignment_tab_title
  assign slider_id = '#slider-' | append: section.id
  assign image = section.settings.image
  assign link = section.settings.link

  assign layout = section.settings.layout
  if layout == 'boxed'
    assign layout_class = 'container'
  else
    assign layout_class = 'container-fluid'
  endif

  if items_spacing == false
    assign items_spacing_slider = '0'
  else
     assign items_spacing_slider = '30px'
  endif
-%}

<div class="section-product-tab-v4" id="section-{{section.id}}" data-section-id="{{section.id}}" data-section-type="featured-collection">
  <div class="{% if template == 'index' or template contains 'page' %}{{ layout_class }}{% endif %}">
    <div class="section-wrapper{% unless image == blank %} section-wrapper-image{% endunless %}">

      {%- unless image == blank -%}
        <div class="block-image">
            <div class="block-image-inner">
                <a href="{{ link }}">
                    {%- render 'image-style' image: image, limit: 540 -%}
                </a>
            </div>
        </div>
      {%- endunless -%}

      <div class="section-body">
        <div class="tab-heading-container">
          <ul class="tab-heading tab-heading-2 align-{{ alignment_tab_title }}">
            {%- for block in section.blocks -%}
                {%- liquid
                  assign heading = block.settings.heading
                  assign _collection = block.settings.collection
                  assign collection = collections[_collection]
                -%}

                {%- if _collection != blank -%}
                  <li>
                    <a href="{{ collection.url }}"{%- if block.type == 'collection' -%} class="active"{% endif %}>{%- if heading != blank -%}{{ heading }}{%- else -%}{{ collection.title }}{%- endif -%}</a>
                  </li>
                {%- endif -%}

            {%- endfor -%}
          </ul>
        </div>

        <div class="tab-content tab-content-v4">
            {%- for block in section.blocks -%}
                {%- if block.type == 'collection' -%}
                    {%- liquid
                        assign _collection = block.settings.collection
                        assign collection = collections[_collection]
                    -%}

                    <div class="tab-content-inner">
                        <div class="tab-items-row">

                            {%- if _collection != blank -%}
                                <div class="block-slider-component">
                                    <native-slider class="d-block position-relative" data-autoplay="{{ autoplay }}" data-autoplay-timeout="{{ autoplay_timeout | times: 1000 }}">
                                        <div class="slider-container js-slider-container">
                                            <div class="slider-wrapper position-relative">
                                                <div class="slider-list d-flex flex-nowrap" id="slider-{{section.id}}">
                                                    {%- for product in collection.products limit: limit -%}
                                                        <div class="slider-item">
                                                            {%- render 'product-item' product: product, collection: collection -%}
                                                        </div>
                                                    {%- endfor -%}
                                                </div>

                                                {%- if controls -%}
                                                  <button class="slider-prev-button" aria-label="Previous">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg>
                                                  </button>
                                                  <button class="slider-next-button" aria-label="Next">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                                                  </button>
                                                {%- endif -%}
                                                {%- if dots -%}
                                                  <div class="slider-dots"></div>
                                                {%- endif -%}

                                            </div>
                                        </div>
                                    </native-slider>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- break -%}
                {%- endif -%}

            {%- endfor -%} 
        </div>

      </div>
    </div>
  </div>
</div>

{%- liquid
  assign grid_arr = items_resp | split: ','
  assign grid_desk = grid_arr[0] | default: 4
  assign grid_tab = grid_arr[1] | default: 3
  assign grid_mob = grid_arr[2] | default: 2
-%}
{%- capture section_css -%}
  {%- render 'snippet-theme' type: 'section-style', preClassID: sectionID, classID: bg_class, config: section.settings -%}
  {{sectionID}} {
    --items-per-row-desk: {{ grid_desk }};
    --items-per-row-tab: {{ grid_tab }};
    --items-per-row-mob: {{ grid_mob }};
    --gap: {{ items_spacing_slider | default: '30px' }};
  }
  {{sectionID}} .slider-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: var(--gap);
    margin: 0;
    padding: 10px 5px;
  }
  {{sectionID}} .slider-item {
    flex: 0 0 calc((100% - (var(--gap) * (var(--items-per-row-desk) - 1))) / var(--items-per-row-desk));
    scroll-snap-align: start;
    min-width: calc((100% - (var(--gap) * (var(--items-per-row-desk) - 1))) / var(--items-per-row-desk));
  }
  @media (max-width: 991px) {
    {{sectionID}} .slider-item {
      flex: 0 0 calc((100% - (var(--gap) * (var(--items-per-row-tab) - 1))) / var(--items-per-row-tab));
      min-width: calc((100% - (var(--gap) * (var(--items-per-row-tab) - 1))) / var(--items-per-row-tab));
    }
  }
  @media (max-width: 767px) {
    {{sectionID}} .slider-item {
      flex: 0 0 calc((100% - (var(--gap) * (var(--items-per-row-mob) - 1))) / var(--items-per-row-mob));
      min-width: calc((100% - (var(--gap) * (var(--items-per-row-mob) - 1))) / var(--items-per-row-mob));
    }
  }
{%- endcapture -%}
{%- style -%}{{section_css | strip | strip_newlines | remove: '  ' }}{%- endstyle -%}

{%- schema -%}
{
  "name": "Product Tabs (V4)",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout Mode",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "margin",
      "label": "Section Margin",
      "info": "Order: Top Right Bottom Left"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Section Padding",
      "info": "Order: Top Right Bottom Left"
    },
    {
      "type": "header",
      "content": "Layout Settings"
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": "Items Per Row (Responsive)",
      "default": "4,3,2"
    },
    {
      "type": "checkbox",
      "id": "items_spacing",
      "label": "Enable Items Spacing (Gap)",
      "default": false
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "step": 1,
      "min": 1,
      "max": 20,
      "default": 8
    },
    {
        "type": "header",
        "content": "Block Image"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "url",
        "id": "link",
        "label": "Link"
    },
    {
      "type": "header",
      "content": "Tab Heading"
    },
    {
      "type": "select",
      "id": "alignment_tab_title",
      "label": "Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Infinite Loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": "Show Navigation Arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": "Show Navigation Dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Autoplay Timeout (Seconds)",
      "step": 0.1,
      "min": 2,
      "max": 10,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Block Product",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    },
    {
      "type": "link",
      "name": "Block Link",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Tabs (V4)"
    }
  ]
}
{%- endschema -%}