<link rel="stylesheet" href="{{'section-single-banner.css' | asset_url}}" media="print" onload="this.media='all'">

{%- liquid
  assign layout = section.settings.layout
  assign sectionID = '#section-' | append: section.id
  assign link = section.settings.link
  assign section_id = '#section-' | append: section.id
  assign alignment = section.settings.alignment
  assign bg_image_desk = section.settings.bg_image_desk
  assign bg_image_mobi = section.settings.bg_image_mobi
  assign section_height = section.settings.section_height
  assign heading = section.settings.heading
  assign subtext = section.settings.subtext
  assign block_style = section.blocks | where: 'type' , 'block-style' | first

  if layout == 'boxed'
    assign layout_class = 'container'
  else
    assign layout_class = ''
  endif

-%}

{%- if layout == 'full' -%}
  {%- assign bg_class = '' -%}
  {%- capture bg_wide -%}{%- render 'bg_responsive' image_desk: bg_image_desk, image_mobi: bg_image_mobi -%}{%- endcapture -%}
{%- else -%}
  {%- assign bg_class = ' .section-wrapper' -%}
  {%- capture bg_boxed -%}{%- render 'bg_responsive' image_desk: bg_image_desk, image_mobi: bg_image_mobi -%}{%- endcapture -%}
{%- endif -%}

<div class="section-single-banner"> 
  <div class="section-single-banner-inner {{bg_wide}}" id="section-{{section.id}}">
    <div class="{% if layout == 'boxed' %}{{layout_class}}{% endif %}">
      {%- if link != blank -%}<a href="{{ link }}" class="single-banner-link" aria-label="Single banner">{%- endif -%}
        <div class="section-wrapper {{bg_boxed}}">
          <div class="section-body">
            <div class="textbox{% if layout == 'full' %} container{% endif %}">
              {%- if heading != blank -%}<div class="single-banner-heading">{{heading}}</div>{%- endif -%}
              {%- if subtext != blank -%}<div class="single-banner-subtext">{{subtext}}</div>{%- endif -%}
            </div>
          </div>
        </div>
      {%- if link != blank -%}</a>{%- endif -%}
    </div>
  </div>
</div>

{%- capture section_css -%}
  {{section_id}} {{bg_class}} {position: relative;}
  {%- render 'css-responsive' preClassID: section_id, classID: bg_class, value_1: section_height, property_1: 'height' -%}
  {%- render 'snippet-theme' type: 'section-style', config: section.settings, preClassID: section_id, classID: bg_class -%}

  {%- if block_style != blank -%}
    {%- liquid
      assign title_color = block_style.settings.title_color | default: default_color
      assign subtext_color = block_style.settings.subtext_color | default: default_color
      assign title_font_size = block_style.settings.title_font_size
      assign title_font_weight = block_style.settings.title_font_weight
      assign title_line_height = block_style.settings.title_line_height
      assign subtext_font_size = block_style.settings.subtext_font_size
      assign subtext_font_weight = block_style.settings.subtext_font_weight
      assign subtext_line_height = block_style.settings.subtext_line_height
    -%}

    {%- render 'css-responsive' preClassID: sectionID, classID: ' .single-banner-heading',
      value_1: title_color, property_1: 'color'
      value_2: title_font_size, property_2: 'font-size'
      value_3: title_font_weight, property_3: 'font-weight'
      value_4: title_line_height, property_4: 'line-height'
      -%}
    {%- render 'css-responsive' preClassID: sectionID, classID: ' .single-banner-subtext',
      value_1: subtext_color, property_1: 'color'
      value_2: subtext_font_size, property_2: 'font-size'
      value_3: subtext_font_weight, property_3: 'font-weight'
      value_4: subtext_line_height, property_4: 'line-height'
      -%}
  {%- endif -%}
{%- endcapture -%}

{%- style -%}{{section_css | strip | strip_newlines | remove: '  '}}{%- endstyle -%}

{%- schema -%}
{
  "name": "t:sections.single-banner.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.common.general"
    },
    {
      "type": "text",
      "id": "section_height",
      "label": "t:sections.common.section_height",
      "default": "260px"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.common.layout_mode",
      "default": "boxed",
      "options": [
        {
          "value": "boxed",
          "label": "Boxed"
        },
        {
          "value": "full",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "text",
      "id": "margin",
      "label": "t:sections.common.section_margin",
      "info": "t:sections.common.order_info"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "t:sections.common.section_padding",
      "info": "t:sections.common.order_info"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.common.link"
    },
    {
      "type": "header",
      "content": "t:sections.common.background_image_on_desktop"
    },
    {
      "type": "image_picker",
      "id": "bg_image_desk",
      "label": "t:sections.common.background_image"
    },
    {
      "type": "select",
      "id": "bg_size_desk",
      "label": "t:sections.common.background_size",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.common.auto"
        },
        {
          "value": "cover",
          "label": "t:sections.common.cover"
        },
        {
          "value": "contain",
          "label": "t:sections.common.contain"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_position_desk",
      "label": "t:sections.common.background_position",
      "options": [
        {
          "value": "left top",
          "label": "t:sections.common.left_top"
        },
        {
          "value": "left center",
          "label": "t:sections.common.left_center"
        },
        {
          "value": "left bottom",
          "label": "t:sections.common.left_bottom"
        },
        {
          "value": "right top",
          "label": "t:sections.common.right_top"
        },
        {
          "value": "right center",
          "label": "t:sections.common.right_center"
        },
        {
          "value": "right bottom",
          "label": "t:sections.common.right_bottom"
        },
        {
          "value": "center top",
          "label": "t:sections.common.center_top"
        },
        {
          "value": "center center",
          "label": "t:sections.common.center_center"
        },
        {
          "value": "center bottom",
          "label": "t:sections.common.center_bottom"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "bg_repeat_desk",
      "label": "t:sections.common.background_repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "t:sections.common.no_repeat"
        },
        {
          "value": "repeat",
          "label": "t:sections.common.repeat"
        },
        {
          "value": "repeat-x",
          "label": "t:sections.common.repeat_x"
        },
        {
          "value": "repeat-y",
          "label": "t:sections.common.repeat_y"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": "t:sections.common.background_image_on_mobile"
    },
    {
      "type": "image_picker",
      "id": "bg_image_mobi",
      "label": "t:sections.common.background_image"
    },
    {
      "type": "select",
      "id": "bg_size_mobi",
      "label": "t:sections.common.background_size",
      "options": [
        {
          "value": "auto",
          "label": "t:sections.common.auto"
        },
        {
          "value": "cover",
          "label": "cover"
        },
        {
          "value": "contain",
          "label": "t:sections.common.contain"
        }
      ]
    },
    {
      "type": "select",
      "id": "bg_position_mobi",
      "label": "t:sections.common.background_position",
      "options": [
        {
          "value": "left top",
          "label": "t:sections.common.left_top"
        },
        {
          "value": "left center",
          "label": "t:sections.common.left_center"
        },
        {
          "value": "left bottom",
          "label": "t:sections.common.left_bottom"
        },
        {
          "value": "right top",
          "label": "t:sections.common.right_top"
        },
        {
          "value": "right center",
          "label": "t:sections.common.right_center"
        },
        {
          "value": "right bottom",
          "label": "t:sections.common.right_bottom"
        },
        {
          "value": "center top",
          "label": "t:sections.common.center_top"
        },
        {
          "value": "center center",
          "label": "t:sections.common.center_center"
        },
        {
          "value": "center bottom",
          "label": "t:sections.common.center_bottom"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "bg_repeat_mobi",
      "label": "t:sections.common.background_repeat",
      "options": [
        {
          "value": "no-repeat",
          "label": "t:sections.common.no_repeat"
        },
        {
          "value": "repeat",
          "label": "t:sections.common.repeat"
        },
        {
          "value": "repeat-x",
          "label": "t:sections.common.repeat_x"
        },
        {
          "value": "repeat-y",
          "label": "t:sections.common.repeat_y"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": "t:sections.common.textbox"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.common.heading"
    },
    {
      "type": "textarea",
      "id": "subtext",
      "label": "t:sections.common.subtext"
    }
  ],
  "blocks":[
    {
      "type" : "block-style",
      "limit": 1,
      "name" : "t:sections.common.textbox_style",
      "settings" : [
        {
          "type": "header",
          "content": "t:sections.common.heading"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "t:sections.common.text_color"
        },
        {
          "type": "text",
          "id": "title_font_size",
          "label": "t:sections.common.font_size"
        },
        {
          "type" : "range",
          "id": "title_font_weight",
          "label": "t:sections.common.font_weight",
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 600
        },
        {
          "type": "text",
          "id": "title_line_height",
          "label": "t:sections.common.line_height"
        },
        {
          "type": "header",
          "content": "t:sections.common.subheading"
        },
        {
          "type": "color",
          "id": "subtext_color",
          "label": "t:sections.common.text_color"
        },
        {
          "type": "text",
          "id": "subtext_font_size",
          "label": "t:sections.common.font_size"
        },
        {
          "type" : "range",
          "id": "subtext_font_weight",
          "label": "t:sections.common.font_weight",
          "step": 100,
          "min" : 100,
          "max" : 900,
          "default" : 400
        },
        {
          "type": "text",
          "id": "subtext_line_height",
          "label": "t:sections.common.line_height"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.single-banner.name"
    }
  ]
}
{%- endschema -%}